* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --backG-color: #f3ca6f;
    --headFontColor-color: #6eff69;
    --fontColor-color: #000016;
    --texColor-color: #fff;
    --backBTNground-color: rgba(86, 86, 251, 0.773);
}

body {
    background-color: #000016;
    color: #6eff69;
    color: red;
}

.crud {
    width: 80%;
    margin: auto;



}

.head {
    text-align: center;
    margin: 10px 0px 20px;
}

.head h2 {
    font-size: 20px;
}


.input input {
    margin: 4px 0px;
    height: 27.5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;


}

input {
    margin: 4px 0px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    background-color: rgb(243, 202, 111);
    color: #000016;
    font-weight: 600;
    transition: 0.5s;


}

input:focus {
    background-color: rgb(253, 228, 175);
    transform: scale(1.1);
}

.price {
    display: flex;
}

.price input {
    width: 20%;
    margin-right: 9.5px;
}

.total1 {
    padding: 10px 4px;
    background-color: var(--fontColor-color);
    /* color: var(--headFontColor-color); */
    /* color: #6eff69; */
    color: #ff0505;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
}

.total1::before {
    content: "Total : ";
}

button {
    width: 100%;
    height: 30px;
    border-radius: 5px;

}

.create {
    cursor: pointer;
    background-color: rgba(86, 86, 251, 0.773);
    color: #fff;
    text-align: center;
    margin: 4px 0px;
    border-radius: 50px;
    transition: 0.5s ease;
    width: 100%;
    height: 27.5px;

}

.create:hover {
    background-color: rgb(132, 132, 240);
    letter-spacing: 1px;
    color: var(--fontColor-color);

}

.searchBtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.searchBtn button {
    cursor: pointer;
    background-color: var(--backG-color);
    color: var(--fontColor-color);
    font-weight: bold;
    margin: 4px 0px;
    border-radius: 50px;
    transition: 0.5s ease;

}

.searchBtn button:hover {
    background-color: rgb(132, 132, 240);
    letter-spacing: 1px;
    color: var(--fontColor-color);
}

.searchBtn button {
    width: 40%;
}

/* .reset {
    width: auto;
    background-color: rgb(200, 0, 255);
    cursor: pointer;
    border-radius: 50%;
} */

.click {
    cursor: pointer;
    background-color: rgba(86, 86, 251, 0.773);
    margin: 4px 0px;
    border-radius: 50px;
    transition: 0.5s ease;
    width: 100%;
}

.click:hover {
    background-color: rgb(132, 132, 240);
    letter-spacing: 1px;
    color: var(--fontColor-color);

}


table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: var(--texColor-color);
    font-size: 12.5px;
}

table tr,
th {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(0, 255, 4);
    padding-bottom: 15px;

}

button {
    color: var(--texColor-color);
    font-weight: 700;
}

table button {
    background-color: var(--backBTNground-color);
    border-radius: 30px;
    padding: 2px;
    text-transform: lowercase;
    cursor: pointer;
    font-size: 12px;
    transition: 0.5s ease;
}

table button:hover {
    color: var(--fontColor-color);
}

table th {
    color: #fff;
    margin-bottom: 70px;
}

.up {
    position: fixed;
    bottom: 15px;
    right: -150px;
    color: var(--headFontColor-color);
    font-size: 20px;
    padding: 3px;
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
}

.up.show {
    right: 15px;
}