* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --backG-color: #f3ca6f;
    --headFontColor-color: #6eff69;
    --fontColor-color: #000016;
    --texColor-color: #fff;
    --backBTNground-color: rgba(86, 86, 251, 0.773);
}

body {
    /* background-color: #000016;
    background-color: rgb(69, 33, 33);
    background-color: rgb(55, 41, 41); */
    background-color: rgb(57, 3, 3);
    color: #6eff69;
    height: 3000px;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    margin: 10px 0px 20px;
}

.head h2 {
    font-size: 20px;
}

.input input {
    margin: 4px 0px;
    height: 27.5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input {
    margin: 4px 0px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    /* background-color: rgb(243, 202, 111); */
    /* background-color: rgba(200, 255, 0, 0.908); */
    background-color: rgb(225, 255, 118);
    color: #000016;
    font-weight: 600;
    transition: 0.5s;
}

input:focus {
    background-color: rgb(253, 228, 175);
    transform: scale(1.1);
}

.price {
    display: flex;
}

.price input {
    width: 20%;
    margin-right: 9.5px;
}

.total1 {
    background-color: var(--fontColor-color);
    color: red;
    font-weight: 700;
    padding: 10px 4px;
    border-radius: 5px;
    text-align: center;
}

.total1::before {
    content: "Total : ";
}

button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 4px 0px;
}

.create {
    cursor: pointer;
    /* background-color: rgba(86, 86, 251, 0.773); */
    background-color: rgba(61, 239, 30, 0.924);
    color: #fff;
    text-align: center;
    margin: 5px 0px;
    border-radius: 50px;
    transition: 0.5s ease;
    width: 100%;
    height: 27.5px;
    padding-top: 3px;
    font-weight: bold;
}

.create:hover {
    background-color: rgb(132, 132, 240);
    letter-spacing: 1px;
    color: var(--fontColor-color);
}

.searchBtn {
    display: flex;
    justify-content: space-between;
}

.searchBtn button {
    cursor: pointer;
    color: var(--texColor-color);
    font-size: 12px;
    font-weight: bold;
    margin: 4px 0px;
    border-radius: 50px;
    transition: 0.5s ease;
    background-color: rgba(86, 86, 251, 0.773);
    border: none;
    outline: none;
    width: 40%;
}

.searchBtn button:hover {
    background-color: rgb(132, 132, 240);
    letter-spacing: 1px;
    color: var(--fontColor-color);
}

.Clean {
    cursor: pointer;
    background-color: rgba(86, 86, 251, 0.773);
    margin: 4px 0px;
    border-radius: 50px;
    transition: 0.5s ease;
    width: 100%;
    font-size: 15px;
}

.Clean:hover {
    background-color: rgb(132, 132, 240);
    letter-spacing: 1px;
    color: var(--fontColor-color);
}

table {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 12.5px;
}

th {
    text-transform: uppercase;
}

table tr,
th {
    letter-spacing: 2px;
    color: yellow;
    padding-bottom: 15px;
}

button {
    background-color: rgba(86, 86, 251, 0.773);
    color: var(--texColor-color);
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
}

#deleteAll1 button {
    color: #fff;
    background-color: #ff0505;
    height: 30px;
    margin: 4px 0px;
    border-radius: 20px;
    font-size: 12px;
}

#deleteAll1 button:hover {
    letter-spacing: 1px;
    background-color: #d50d0dd2;
}

#update,
#delete {
    height: 25px;
    /* width: auto; */
    width: 60px;
    font-size: 10px;
}

#update {
    background-color: #3ecc0b;
}

#delete {
    background: #ff0505;
}

#delete:hover {
    background-color: #d50d0dd2;
}

table tr th button {
    background-color: var(--backBTNground-color);
    border-radius: 30px;
    padding: 2px;
    text-transform: lowercase;
    cursor: pointer;
    font-size: 12px;
    transition: 0.5s ease;
}

table button:hover {
    color: var(--fontColor-color);
}

table th {
    color: #fff;
    margin-bottom: 70px;
}

.up {
    position: fixed;
    bottom: 15px;
    right: -150px;
    color: var(--headFontColor-color);
    font-size: 20px;
    padding: 3px;
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
}

.up.show {
    right: 15px;
}